<div>
  <div class="ui compact menu">
    <div class="item">
      <%= link_to("イベント一覧", events_path()) %>
    </div>
    <div class="item">
      <%= link_to("イベント 新規登録", new_event_path()) %>
    </div>
  </div>
</div>