<div>
  <div class="ui compact menu">
    <div class="item">
      <%= link_to("イベントカテゴリ一覧", event_categories_path()) %>
    </div>
    <div class="item">
      <%= link_to("イベントカテゴリ 新規登録", new_event_category_path()) %>
    </div>
  </div>
</div>